@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

body {
  background-color: #f7f4ef;
  color: #1a1a1a;
  -webkit-font-smoothing: antialiased;
}

.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }
